*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: moke;
}
.modoescurobtn {
    margin: 10px;
}

.circle-button{
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    display: inline-block;
    font-size: 2rem;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.circle-button:hover{
    animation: circle-anim 0.3s ease forwards;
    transition: all 0.4s ease;
}

.grow-container {
    display: inline-block;
    margin: 1em;
}
.card-text{
    color: black;
}

.to-insta:hover {
    background: #1DA1F3;
    width: -55px;
    height: -100px;
}
.to-red:hover {
    background: #E5393F;
}
.to-git:hover {
    background: #ccc;
}

@keyframes circle-anim{
    0%{

    }
    90%{
        padding: 0.35em;
        margin: -0.35em;
    }
    100%{
        padding: 0.25em;
        margin: -0.25em;
    }
}

i {
    font-size: 30px;
    padding: 10px;
    color: black;
}
.menu{
    float: top;
    margin: 10px;
    
}
.menu ul {
    list-style-type: none;
    font-size: larger;
}
.menu ul li {
    display: inline-block;
    padding: 10px;
    background-color: #ccc;
    border-radius: 50px;

}
.menu ul li:hover {
    background-color: gray;
    color:  white;
}
#nome{
    background-color: #ccc;
    padding: 10px;
    margin-right: 50%;
    border-radius: 5px;
    
}
#nome:hover {
    background-color: gray;
    color:  white;
}
#perfil {
    font-weight: bolder;
    border-bottom: solid 1px black;

}
.perfil img {
   
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 60%;
    border: solid #ccc 1px;
    float: left;
}
#eu {
    width: 30%;
}
.perfil {
    float: right;
    margin: 10px;
    
}
.perfil h5 {
    padding-top: 10px;
}
.redes img{
    width: 40px;
    text-decoration: none;
    border: solid whitesmoke;
}
.repositorios {
    margin: 10px;

}
.container-fluid{
    margin: 10px;
}

.card-body .contadorescards i{
    font-size: 1rem;
}
#repo {
    border-bottom: solid 1px;
}
.conteudo{
    margin:10px;
}
#conteudo {
    border-bottom: solid 1px;
}
.colegas{
    margin: 10px;
    
}
#colegasT {
    border-bottom: solid 1px;

}
#alf{
    border: solid 1px;
    margin: 10px;
}
#die{
    border: solid 1px;
    margin: 10px;
}
#lucas{
    border: solid 1px;
    margin: 10px;
}
#pablo{
    border: solid 1px;
    margin: 10px;
}
#alf img{
    padding: 10px;
}
#lucas img{
    padding: 10px;
}
#die img{
    padding: 10px;
}
#pablo{
    padding: 10px;
}
#projetow {
    border-bottom: solid #ccc 5px;
}
.info ul li {
    list-style-type: none;
    float: right;
    padding: 10px;
}
.nav-item{
    display: none;
}

/*Css Mobile */
@media screen and (max-width:1140px) {
    #modoescuro-btn{
        display: none;
    }
    #repo {
        display: none;/*por enquanto está none*/
    }
    .nav-item {
        display: flex;
        justify-content: end;
        float: right;
        border-radius: 5px;
        margin-right: 10px;
    }
    .menu {
        display: none;
    }


}